# Exercise 34

In [1]:
animals = ['bear','python3.6','peacock','kangaroo','whale','platypus']

#The animal at 1 is the second list element python3.6
print(animals[1])

python3.6

In [2]:
#The third animal is the animal at element number 2, the peacock
print(animals[2])

peacock

In [3]:
#The first animal is the animal at element number 0, the bear
print(animals[0])

bear

In [5]:
#The animal at 3 is the fourth animal on the list, the kangaroo
print(animals[3])

kangaroo

In [6]:
#The fifth animal is the animal at element 4, the whale
print(animals[4])

whale

In [7]:
#The animal at 2 is the third one listed, the peacock again
print(animals[2])

peacock

In [11]:
#The sixth animal is the animal at element number 5, the platypus
print(animals[5])

platypus