<a href="https://colab.research.google.com/github/JoelAdams001/silver-spoon/blob/master/HW2_Joel_Adams.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
data = pd.read_csv('https://urldefense.proofpoint.com/v2/url?u=https-3A__raw.githubusercontent.com_Geoyi_Cleaning-2DTitanic-2DData_master_titanic-5Fclean.csv&d=DwMFaQ&c=lhMMI368wojMYNABHh1gQQ&r=hP2wN2RdtbB_CnJ4p0ocUg&m=mUyWfdMPHbNJEbd8VoQHXcuoV7qnC2JmDCWowYfi7JE&s=Q8oZ1jtaaNwcbgZKoqBONX-GqsIACXhFShTDlix0DwM&e=')

In [9]:
data.isnull().sum()

Unnamed: 0             0
pclass                 1
survived               1
name                   1
sex                    1
age                    0
sibsp                  1
parch                  1
ticket                 1
fare                   2
cabin               1015
embarked               0
boat                 824
body                1189
home.dest            565
has_cabin_number       0
dtype: int64

In [13]:
data.rename(columns={'has_cabin_number':'cabin_number'}, inplace = True)
data.head()

,Unnamed: 0,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,cabin_number
0,1,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO",cabin_number
1,2,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON",cabin_number
2,3,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",cabin_number
3,4,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON",cabin_number
4,5,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",cabin_number