<a href="https://colab.research.google.com/github/JoelAdams001/silver-spoon/blob/master/HW3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression,LogisticRegression
import statsmodels.api as sm


lin_Data = pd.read_csv('https://spark-public.s3.amazonaws.com/dataanalysis/loansData.csv')
log_Data = pd.read_csv('https://raw.githubusercontent.com/nborwankar/LearnDataScience/master/datasets/loanf.csv')

/usr/local/lib/python3.6/dist-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [33]:
lin_Data.head()

,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
81174,20000,20000.0,8.90%,36 months,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14.0,14272.0,2.0,< 1 year
99592,19200,19200.0,12.12%,36 months,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12.0,11140.0,1.0,2 years
80059,35000,35000.0,21.98%,60 months,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14.0,21977.0,1.0,2 years
15825,10000,9975.0,9.99%,36 months,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10.0,9346.0,0.0,5 years
33182,12000,12000.0,11.71%,36 months,credit_card,18.78%,NJ,RENT,3195.00,695-699,11.0,14469.0,0.0,9 years

In [0]:
#Some cleaning you provided on collab
lin_Data['Interest.Rate'] = [float(i[:-1]) for i in lin_Data['Interest.Rate']]
lin_Data['Loan.Length']= [float(i.split(" ")[0]) for i in lin_Data['Loan.Length']]
lin_Data['FICO.Range'] = [(float(i.split("-")[0])+float(i.split("-")[1]))/2 for i in lin_Data['FICO.Range']]

In [35]:
lin_Data.head()

,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
81174,20000,20000.0,8.90,36.0,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,737.0,14.0,14272.0,2.0,< 1 year
99592,19200,19200.0,12.12,36.0,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,717.0,12.0,11140.0,1.0,2 years
80059,35000,35000.0,21.98,60.0,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,692.0,14.0,21977.0,1.0,2 years
15825,10000,9975.0,9.99,36.0,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,697.0,10.0,9346.0,0.0,5 years
33182,12000,12000.0,11.71,36.0,credit_card,18.78%,NJ,RENT,3195.00,697.0,11.0,14469.0,0.0,9 years

In [36]:
#This cell also is just the data cleaning that was shared on collab

df = lin_Data[['Interest.Rate', 'Loan.Length', 'FICO.Range']]
intrate = df['Interest.Rate']
loanamt = df['Loan.Length']
fico = df['FICO.Range']

# reshape the data from a pandas Series to columns 
# the dependent variable
y = np.array(intrate).transpose()
# the independent variables shaped as columns
x1 = np.array(fico).transpose()
x2 = np.array(loanamt).transpose()

# put the two columns together to create an input matrix 
# if we had n independent variables we would have n columns here
x = np.column_stack([x1,x2])

# create a linear model and fit it to the data
X = sm.add_constant(x)
model = sm.OLS(y,X)
f = model.fit()

print('Coefficients: ', f.params[0:2])
print('Intercept: ', f.params[2])
print('P-Values: ', f.pvalues)
print('R-Squared: ', f.rsquared)

Coefficients:  [65.8744788  -0.08520339]
Intercept:  0.18193967135306596
P-Values:  [0.00000000e+000 0.00000000e+000 4.27159025e-258]
R-Squared:  0.6898129718512984